.card-container {
  padding: 20px;
  background-color: antiquewhite;
  box-shadow: 200px;
  width: 350px;
  border: 10px;
  box-shadow: 0 4px 8px;
}

.card-header {
  padding: 10px;
  background-color: pink;
  text-align: center;
  width: 330px;
}

.profile-img-container {
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 250px;
  margin-bottom: 16px;
}

.profile-img{
    width: 100%;
    height: 250px;
    margin-bottom: 16px;
}

.details {
  text-align: center;
}

.footer-section {
  text-align: center;
}
