* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The CARD */
.card-container {
  width: 330px;
  background-color: antiquewhite;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  padding: 16px;    
}

.card-header {
  background-color: pink;
  padding: 12px;        
  margin-bottom: 12px;
  font-size: 13px;
  text-align: center;
}

/* Image INSIDE card */
.profile-img-container {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.profile-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text */
.details {
  text-align: center;
  margin-bottom: 8px;
}

/* Footer */
.footer-section {
  text-align: center;
  font-size: 0.85rem;
}
